# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
*.patch
*.gotmpl

ci/
/*.tgz
output
jsonnet
/update.sh
/dashboard*.yaml
/prometheus-rules.yaml
istioctl
argocd
scripts
/garage
