apiVersion: v2
name: kubezero-storage
description: KubeZero umbrella chart for all things storage incl. AWS EBS/EFS, openEBS-lvm, gemini
type: application
version: 0.9.1
home: https://kubezero.com
icon: https://cdn.zero-downtime.net/assets/kubezero/logo-small-64.png
keywords:
  - kubezero
  - gemini
  - openEBS
  - lvm
  - ebs
  - efs
  - garage
maintainers:
  - name: Stefan Reimer
    email: stefan@zero-downtime.net
dependencies:
  - name: kubezero-lib
    version: 0.2.1
    repository: https://cdn.zero-downtime.net/charts/
  - name: lvm-localpv
    version: 1.8.1
    condition: lvm-localpv.enabled
    repository: https://openebs.github.io/lvm-localpv
  - name: aws-ebs-csi-driver
    version: 2.55.1
    condition: aws-ebs-csi-driver.enabled
    repository: https://kubernetes-sigs.github.io/aws-ebs-csi-driver
  - name: aws-efs-csi-driver
    version: 2.5.7
    condition: aws-efs-csi-driver.enabled
    repository: https://kubernetes-sigs.github.io/aws-efs-csi-driver
  - name: garage
    # renovate: datasource=gitea-releases depName=Deuxfleurs/garage registryUrl=https://git.deuxfleurs.fr
    version: 2.2.0
    condition: garage.enabled
  - name: gemini
    version: 2.1.3
    condition: gemini.enabled
    repository: https://charts.fairwinds.com/stable
  - name: k8up
    version: 4.8.6
    condition: k8up.enabled
    repository: https://k8up-io.github.io/k8up
kubeVersion: ">= 1.30.0-0"
