apiVersion: v2
name: kubezero-ci
description: KubeZero umbrella chart for all things CI
type: application
version: 0.9.6
home: https://kubezero.com
icon: https://cdn.zero-downtime.net/assets/kubezero/logo-small-64.png
keywords:
  - kubezero
  - jenkins
  - gitea
  - renovate
maintainers:
  - name: Stefan Reimer
    email: stefan@zero-downtime.net
dependencies:
  - name: kubezero-lib
    version: 0.2.1
    repository: https://cdn.zero-downtime.net/charts/
  - name: gitea
    version: 12.5.0
    repository: https://dl.gitea.io/charts/
    condition: gitea.enabled
  - name: jenkins
    version: 5.8.133
    repository: https://charts.jenkins.io
    condition: jenkins.enabled
  - name: renovate
    version: 45.86.1
    repository: https://docs.renovatebot.com/helm-charts
    condition: renovate.enabled
kubeVersion: ">= 1.30.0"
