apiVersion: v2
name: kubezero-ci
description: KubeZero umbrella chart for all things CI
type: application
version: 0.9.9
home: https://kubezero.com
icon: https://cdn.zero-downtime.net/assets/kubezero/logo-small-64.png
keywords:
  - kubezero
  - jenkins
  - gitea
  - forgejo
  - renovate
maintainers:
  - name: Stefan Reimer
    email: stefan@zero-downtime.net
dependencies:
  - name: kubezero-lib
    version: 0.2.1
    repository: https://cdn.zero-downtime.net/charts/
  - name: gitea
    version: 12.5.0
    repository: https://dl.gitea.io/charts/
    condition: gitea.enabled
  - name: forgejo
    version: 16.2.0
    repository: oci://code.forgejo.org/forgejo-helm
    condition: forgejo.enabled
  - name: jenkins
    version: 5.8.142
    repository: https://charts.jenkins.io
    condition: jenkins.enabled
  - name: renovate
    version: 46.25.5
    repository: oci://ghcr.io/renovatebot/charts
    condition: renovate.enabled
kubeVersion: ">= 1.30.0"
