forgejo:
  enabled: false

  image:
    # renovate: datasource=docker depName=code.forgejo.org/forgejo/forgejo
    tag: 14.0.2
    rootless: true

  replicaCount: 1

  # We use RWO persistence
  strategy:
    type: "Recreate"

  # Since V9 they default to RWX and deployment, we default to old existing RWO from statefulset
  persistence:
    claimName: data-gitea-0
    size: 4Gi

  service:
    http:
      port: 80

  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL

  resources:
    requests:
      cpu: "200m"
      memory: "1024Mi"
    limits:
      memory: "2048Mi"

  extraVolumes:
    - name: forgejo-public
      configMap:
        name: forgejo-kubezero-ci-public
    - name: forgejo-templates
      configMap:
        name: forgejo-kubezero-ci-templates

  extraContainerVolumeMounts:
    - name: forgejo-public
      readOnly: true
      mountPath: "/data/gitea/public"
    - name: forgejo-templates
      readOnly: true
      mountPath: "/data/gitea/templates/custom"

  checkDeprecation: false
  test:
    enabled: false

  gitea:
    admin:
      existingSecret: forgejo-admin-secret

    # Enable to install demo creds
    demo: false

    metrics:
      enabled: false
      serviceMonitor:
        enabled: true

    config:
      database:
        DB_TYPE: sqlite3
      cache:
        ADAPTER: memory
      session:
        PROVIDER: memory
      service:
        DISABLE_REGISTRATION: "true"
        DEFAULT_ORG_VISIBILITY: "private"
      service.explore:
        REQUIRE_SIGNIN_VIEW: "true"
        DISABLE_USERS_PAGE: "true"
      queue:
        TYPE: level
      ui:
        DEFAULT_THEME: "forgejo-dark"
      log:
        LEVEL: warn
      ssh.minimum_key_sizes:
        RSA: 2047

  istio:
    enabled: false
    gateway: istio-ingress/private-ingressgateway
    url: git.example.com
    blockApi: false

  analytics:
    enabled: false
    siteId: pleasesetasneeded

jenkins:
  enabled: false

  controller:
    image:
      # renovate: datasource=docker depName=jenkins/jenkins
      tag: 2.541.1-lts-alpine
    disableRememberMe: true
    prometheus:
      enabled: false
    testEnabled: false
    enableRawHtmlMarkupFormatter: true
    javaOpts: "-XX:+UseContainerSupport -XX:+UseStringDeduplication"
    jenkinsOpts: "--sessionTimeout=300 --sessionEviction=10800"

    # until https://github.com/kiwigrid/k8s-sidecar/issues/400 is fixed
    sidecars:
      configAutoReload:
        image:
          tag: 1.30.3

    # Until we setup the logging and metrics pipelines in OTEL
    containerEnv:
      - name: OTEL_LOGS_EXPORTER
        value: "none"
      - name: OTEL_METRICS_EXPORTER
        value: "none"

    resources:
      requests:
        cpu: "250m"
        memory: "1280Mi"
      limits:
        #cpu: "2000m"
        memory: "4096Mi"
    initContainerResources:
      requests:
        cpu: "50m"
        memory: "256Mi"
      limits:
        #cpu: "1000m"
        memory: "1024Mi"

    JCasC:
      configScripts:
        zdt-settings: |
          appearance:
            themeManager:
              disableUserThemes: true
              theme: "dark"
            loginTheme:
              branding: "https://cdn.zero-downtime.net/assets/kubezero/corgi-jenkins.svg"
              footer: |-
                <div style="text-align:center;">
                Zero Down Time edition
                </div>
              useDefaultTheme: true
            simpleTheme:
              elements:
              - cssText:
                  text: |-
                    .pipeline-new-node {
                        display: none;
                    }
                    .jenkins-header .app-jenkins-logo #jenkins-head-icon {
                        content: url('https://cdn.zero-downtime.net/assets/kubezero/corgi-jenkins.svg');
                    }
              - faviconUrl:
                  url: "https://cdn.zero-downtime.net/assets/kubezero/corgi-jenkins.svg"
          jenkins:
            noUsageStatistics: true
            disabledAdministrativeMonitors:
            - "jenkins.security.ResourceDomainRecommendation"
          security:
            scriptApproval:
              forceSandbox: true
            contentSecurityPolicy:
              advanced:
              - custom:
                  rules:
                  - allowFetch:
                      allow:
                        byDomain:
                          domain: "cdn.zero-downtime.net"
                      directive: "img-src"
              - reporting:
                  ignoreAnonymousReports: true
              enforce: true
          unclassified:
            openTelemetry:
              configurationProperties: |-
                otel.exporter.otlp.protocol=grpc
                otel.instrumentation.jenkins.web.enabled=false
              ignoredSteps: "dir,echo,isUnix,pwd,properties"
              #endpoint: "telemetry-jaeger-collector.telemetry:4317"
              exportOtelConfigurationAsEnvironmentVariables: false
              #observabilityBackends:
              # - jaeger:
              #     jaegerBaseUrl: "https://jaeger.example.com"
              #     name: "KubeZero Jaeger"
              serviceName: "Jenkins"
            buildDiscarders:
              configuredBuildDiscarders:
              - "jobBuildDiscarder"
              - defaultBuildDiscarder:
                  discarder:
                    logRotator:
                      artifactDaysToKeepStr: "32"
                      artifactNumToKeepStr: "10"
                      daysToKeepStr: "100"
                      numToKeepStr: "10"

    installPlugins:
      - kubernetes
      - kubernetes-credentials-provider
      - workflow-aggregator
      - git
      - git-forensics
      - basic-branch-build-strategies
      - pipeline-graph-view
      - pipeline-stage-view
      - http_request
      - pipeline-utility-steps
      - configuration-as-code
      - warnings-ng
      - text-finder
      - antisamy-markup-formatter
      - prometheus
      - htmlpublisher
      - build-discarder
      - csp
      - dark-theme
      - login-theme
      - simple-theme-plugin
      - matrix-auth
      - oic-auth
      - opentelemetry

  serviceAccountAgent:
    create: true
    name: jenkins-podman-aws

  agent:
    image:
      repository: public.ecr.aws/zero-downtime/jenkins-podman
      tag: v0.8.5
    #alwaysPullImage: true
    podRetention: "Default"
    showRawYaml: false
    podName: "podman-aws"
    defaultsProviderTemplate: "podman-aws"
    annotations:
      container.apparmor.security.beta.kubernetes.io/jnlp: "unconfined"
      cluster-autoscaler.kubernetes.io/safe-to-evict: "false"
    garbageCollection:
      enabled: true
    customJenkinsLabels:
      - podman-aws-grype
    idleMinutes: 30
    containerCap: 2
    envVars:
      - name: HOME
        value: "/home/jenkins/agent"
    resources:
      requests:
        cpu: ""
        memory: ""
      limits:
        cpu: ""
        memory: ""
    yamlMergeStrategy: "merge"
    inheritYamlMergeStrategy: true
    runAsUser: 1000
    runAsGroup: 1000
    serviceAccount: jenkins-podman-aws
    yamlTemplate: |-
      apiVersion: v1
      kind: Pod
      spec:
        securityContext:
          fsGroup: 1000
        containers:
        - name: jnlp
          resources:
            requests:
              cpu: "200m"
              memory: "512Mi"
            limits:
              cpu: "4"
              memory: "6144Mi"
          volumeMounts:
          - name: host-registries-conf
            mountPath: "/home/jenkins/.config/containers/registries.conf"
            readOnly: true
        volumes:
        - name: host-registries-conf
          hostPath:
            path: /etc/containers/registries.conf
            type: File
#   additionalContainers:
#   - sideContainerName: aws-cli
#     image:
#       repository: amazon/aws-cli
#       tag: 2.32.34
#     command: cat
#     args: ""
#     TTYEnabled: true

  rbac:
    readSecrets: true

  persistence:
    size: "4Gi"

  istio:
    enabled: false
    gateway: istio-ingress/private-ingressgateway
    url: jenkins.example.com

    # Dedicated VirtualService for webhooks
    webhook:
      enabled: false
      gateway: istio-ingress/ingressgateway
      url: jenkins-webhook.example.com

    # Remote Agents
    agent:
      enabled: false
      gateway: istio-ingress/private-ingressgateway
      url: jenkins-agent.example.com

renovate:
  enabled: false

  renovate:
    config: |
      {
      }

  env:
    LOG_FORMAT: json
    RENOVATE_USE_CLOUD_METADATA_SERVICES: "false"
  cronjob:
    concurrencyPolicy: Forbid
    jobBackoffLimit: 2
    schedule:	"0 3 * * *"
    successfulJobsHistoryLimit: 1

  securityContext:
    fsGroupChangePolicy: OnRootMismatch
