clusterIssuer: {}
# name: letsencrypt-dns-prod
# server: https://acme-v02.api.letsencrypt.org/directory
# email: admin@example.com
# solvers:
#   - dns01:
#       route53:
#         region: us-west-2
#         hostedZoneID: 1234567890

localCA:
  enabled: false
  # If selfsigning is false you must provide the ca key and crt below
  selfsigning: true
  #ca:
  #  key: <pem-key-material>
  #  crt: <pem-crt-material>

cert-manager:
  enabled: true

  crds:
    enabled: true

  global:
    leaderElection:
      namespace: "cert-manager"

  # remove secrets if the cert is deleted
  enableCertificateOwnerRef: true

  extraArgs:
    - "--logging-format=json"
    - "--leader-elect=false"
    - "--dns01-recursive-nameservers-only"
    # When this flag is enabled, secrets will be automatically removed when the certificate resource is deleted
    # - --enable-certificate-owner-ref=true

  #enableCertificateOwnerRef: true

  ingressShim:
    defaultIssuerName: letsencrypt-dns-prod
    defaultIssuerKind: ClusterIssuer

  webhook:
    extraArgs:
      - "--logging-format=json"

  cainjector:
    extraArgs:
      - "--logging-format=json"
      - "--leader-elect=false"

  prometheus:
    enabled: false
    servicemonitor:
      enabled: false
    # install our dashboards and rules via gzip pipeline
    dashboards: false
    rules: false

  startupapicheck:
    enabled: false
