{{- if .Values.gitea.analytics.enabled }}
<script defer data-domain="git.zero-downtime.net" data-api="https://plausible.zero-downtime.net/api/event" src="https://cdn.zero-downtime.net/plausible/js/script.pageview-props.tagged-events.js"></script>
{{- end }}
