apiVersion: v2
name: kubezero-istio
description: KubeZero Umbrella Chart for Istio
type: application
version: 0.22.3
home: https://kubezero.com
icon: https://cdn.zero-downtime.net/assets/kubezero/logo-small-64.png
keywords:
  - kubezero
  - istio
maintainers:
  - name: Stefan Reimer
    email: stefan@zero-downtime.net
dependencies:
  - name: kubezero-lib
    version: ">= 0.1.6"
    repository: https://cdn.zero-downtime.net/charts/
  - name: base
    version: 1.23.2
    repository: https://istio-release.storage.googleapis.com/charts
  - name: istiod
    version: 1.23.2
    repository: https://istio-release.storage.googleapis.com/charts
  - name: kiali-server
    version: "1.89.7"
    repository: https://kiali.org/helm-charts
    condition: kiali-server.enabled
kubeVersion: ">= 1.26.0-0"
