{{ template "chart.header" . }}
{{ template "chart.description" . }}

Installs Istio Operator and KubeZero Istio profile


{{ template "chart.versionLine" . }}

{{ template "chart.sourceLinkLine" . }}

{{ template "chart.requirementsSection" . }}

## KubeZero default configuration


## Resources

- https://istio.io/latest/docs/setup/install/standalone-operator/
