global:
  variant: distroless

  logAsJson: true

  defaultPodDisruptionBudget:
    enabled: false

istiod:
  autoscaleEnabled: false
  replicaCount: 1

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      memory: 256Mi

# env:
#   PILOT_ENABLE_MYSQL_FILTER: true
#   PILOT_ENABLE_REDIS_FILTER: true
#   PILOT_HTTP10: true

  telemetry:
    enabled: false
    # install our dashboards via gzip pipeline
    dashboards: false

  meshConfig:
    accessLogFile: /dev/stdout
    accessLogEncoding: 'JSON'
    tcpKeepalive:
      interval: 60s
      time: 120s

kiali-server:
  enabled: false

  auth:
    strategy: anonymous

  deployment:
    ingress_enabled: false
    view_only_mode: true

  server:
    metrics_enabled: false

  external_services:
    custom_dashboards:
      enabled: false

    prometheus:
      url: "http://metrics-kube-prometheus-st-prometheus.monitoring:9090"

  istio:
    enabled: false
    gateway: istio-ingress/private-ingressgateway
    #url: "kiali.example.com"


# for available options see envoy-ratelimit chart
envoy-ratelimit:
  enabled: false
