kubezero:
  server: https://kubernetes.default.svc
  repoURL: https://cdn.zero-downtime.net/charts
  defaultTargetRevision: '*'
  gitSync: {}

global:
  highAvailable: false
  clusterName: zdt-trial-cluster
  aws: {}

addons:
  enabled: true
  targetRevision: 0.8.7
  external-dns:
    enabled: false
  forseti:
    enabled: false
  clusterBackup:
    enabled: false
  cluster-autoscaler:
    enabled: false
  sealed-secrets:
    enabled: false
  aws-node-termination-handler:
    enabled: false
  aws-eks-asg-rolling-update-handler:
    enabled: false

network:
  enabled: true
  retain: true
  targetRevision: 0.5.1
  cilium:
    cluster: {}

cert-manager:
  enabled: false
  namespace: cert-manager
  targetRevision: 0.9.7

storage:
  enabled: false
  targetRevision: 0.8.7
  lvm-localpv:
    enabled: false
  aws-ebs-csi-driver:
    enabled: false
  aws-efs-csi-driver:
    enabled: false
  k8up:
    enabled: false
  gemini:
    enabled: false
  snapshotController:
    enabled: false

istio:
  enabled: false
  namespace: istio-system
  targetRevision: 0.21.2

istio-ingress:
  enabled: false
  chart: kubezero-istio-gateway
  namespace: istio-ingress
  targetRevision: 0.21.2
  gateway:
    service: {}

istio-private-ingress:
  enabled: false
  chart: kubezero-istio-gateway
  namespace: istio-ingress
  targetRevision: 0.21.2
  gateway:
    service: {}

falco:
  enabled: false
  k8saudit:
    enabled: false
  targetRevision: 0.1.2

telemetry:
  enabled: false
  namespace: telemetry
  targetRevision: 0.4.0

operators:
  enabled: false
  namespace: operators
  targetRevision: 0.1.4

metrics:
  enabled: false
  namespace: monitoring
  targetRevision: 0.9.8
  istio:
    grafana: {}
    prometheus: {}
  # our custom scrapeConfig which gets merged
  kubezero:
    prometheus:
      prometheusSpec:
        additionalScrapeConfigs: []

logging:
  enabled: false
  namespace: logging
  targetRevision: 0.8.11

argo:
  enabled: false
  namespace: argocd
  targetRevision: 0.2.1
  argo-cd:
    enabled: false
    istio:
      enabled: false
  argocd-image-updater:
    enabled: false
