global:
  clusterName: zdt-trial-cluster
  apiServerUrl: localhost:6443

  # platform: aws (kubeadm, default), gke, or nocloud
  platform: "aws"

  highAvailable: false

  aws:
    accountId: "123456789012"
    region: the-moon
  gcp: {}

addons:
  enabled: false
  targetRevision: 0.8.18
  external-dns:
    enabled: false
  forseti:
    enabled: false
  clusterBackup:
    enabled: false
  cluster-autoscaler:
    enabled: false
  sealed-secrets:
    enabled: false
  aws-node-termination-handler:
    enabled: false
  aws-eks-asg-rolling-update-handler:
    enabled: false

network:
  enabled: false
  retain: true
  targetRevision: 0.5.11
  cilium:
    enabled: true

policy:
  enabled: false
  namespace: kyverno
  targetRevision: 0.1.3

cert-manager:
  enabled: false
  namespace: cert-manager
  targetRevision: 0.9.14

storage:
  enabled: false
  targetRevision: 0.9.1
  lvm-localpv:
    enabled: false
  aws-ebs-csi-driver:
    enabled: false
  aws-efs-csi-driver:
    enabled: false
  k8up:
    enabled: false
  gemini:
    enabled: false
  snapshotController:
    enabled: false

istio:
  enabled: false
  namespace: istio-system
  targetRevision: 0.28.3

istio-ingress:
  enabled: false
  chart: kubezero-istio-gateway
  namespace: istio-ingress
  targetRevision: 0.28.3
  gateway:
    service: {}

istio-private-ingress:
  enabled: false
  chart: kubezero-istio-gateway
  namespace: istio-ingress
  targetRevision: 0.28.3
  gateway:
    service: {}

falco:
  enabled: false
  k8saudit:
    enabled: false
  targetRevision: 0.1.2

telemetry:
  enabled: false
  namespace: telemetry
  targetRevision: 0.5.1

operators:
  enabled: false
  namespace: operators
  targetRevision: 0.2.9

metrics:
  enabled: false
  namespace: monitoring
  targetRevision: 0.12.3
  istio:
    grafana: {}
    prometheus: {}
  # our custom scrapeConfig which gets merged
  kube-prometheus-stack:
    prometheus:
      enabled: false
    grafana:
      enabled: false
  kubezero:
    prometheus:
      prometheusSpec:
        additionalScrapeConfigs: []

logging:
  enabled: false
  namespace: logging
  targetRevision: 0.8.14

argo:
  enabled: false
  namespace: argocd
  targetRevision: 0.4.6
  argo-cd:
    enabled: false
    istio:
      enabled: false
  argocd-image-updater:
    enabled: false
