apiVersion: kafka.strimzi.io/v1
kind: KafkaNodePool
metadata:
  name: default-nodes
  labels:
    strimzi.io/cluster: {{ .Values.cluster.name }}
spec:
  replicas: 3
  roles:
    - controller
    - broker
  storage:
    type: jbod
    volumes:
      - id: 0
        type: persistent-claim
        size: {{ .Values.storage.size }}
        deleteClaim: false
        kraftMetadata: shared
