apiVersion: kafka.strimzi.io/v1
kind: Kafka
metadata:
  name: {{ .Values.cluster.name }}
spec:
  kafka:
    version: {{ .Values.cluster.version }}
    metadataVersion: 4.1-IV1
    listeners:
      - name: plain
        port: 9092
        type: cluster-ip
        tls: false
    config:
      offsets.topic.replication.factor: 3
      transaction.state.log.replication.factor: 3
      transaction.state.log.min.isr: 2
      default.replication.factor: 3
      min.insync.replicas: 2
    metricsConfig:
      type: strimziMetricsReporter
  entityOperator:
    topicOperator: {}
    userOperator: {}
