apiVersion: v2
name: kubezero-operators
description: Various operators supported by KubeZero
type: application
version: 0.2.8
home: https://kubezero.com
icon: https://cdn.zero-downtime.net/assets/kubezero/logo-small-64.png
keywords:
  - kubezero
  - operators
  - postgres
  - kafka
  - rabbitmq
maintainers:
  - name: Stefan Reimer
    email: stefan@zero-downtime.net
dependencies:
  - name: kubezero-lib
    version: 0.2.1
    repository: https://cdn.zero-downtime.net/charts/
  - name: eck-operator
    version: 3.2.0
    repository: https://helm.elastic.co
    condition: eck-operator.enabled
  - name: cloudnative-pg
    version: 0.27.0
    repository: https://cloudnative-pg.github.io/charts
    condition: cloudnative-pg.enabled
  - name: strimzi-kafka-operator
    version: 0.50.0
    repository: "oci://quay.io/strimzi-helm"
    condition: strimzi-kafka-operator.enabled
  - name: rabbitmq-cluster-operator
    version: 4.4.34
    repository: https://charts.bitnami.com/bitnami
    condition: rabbitmq-cluster-operator.enabled
  - name: altinity-clickhouse-operator
    version: 0.25.6
    repository: https://docs.altinity.com/clickhouse-operator
    condition: altinity-clickhouse-operator.enabled
  - name: redis-operator
    version: 0.23.0
    repository: https://ot-container-kit.github.io/helm-charts
    condition: redis-operator.enabled
  - name: flink-kubernetes-operator
    version: 1.13.0
    repository:  https://downloads.apache.org/flink/flink-kubernetes-operator-1.13.0
    condition: flink-kubernetes-operator.enabled
kubeVersion: ">= 1.33.0-0"
