eck-operator:
  enabled: false
  installCRDs: false

cloudnative-pg:
  enabled: false

  monitoring:
    podMonitorEnabled: false
    # This enables our own dashboard handling incl. gzip, same source though
    dashboards: false

  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      memory: 128Mi

  config:
    data:
      ENABLE_INSTANCE_MANAGER_INPLACE_UPDATES: 'true'
      CLUSTERS_ROLLOUT_DELAY: '60'
      INSTANCES_ROLLOUT_DELAY: '10'

strimzi-kafka-operator:
  enabled: false

  revisionHistoryLimit: 2
  watchAnyNamespace: true

  leaderElection:
    enable: false

# extraEnvs:
#   - name: JAVA_OPTS
#     value: "-XX:MaxRAMPercentage=75 -XX:+UseParallelGC -XX:ActiveProcessorCount=2"

  resources:
    requests:
      cpu: 20m
      memory: 256Mi
#   limits:
#     memory: 256Mi

  # We use only a subset so disabled here but provided via dashboards-strimzi.yaml
  dashboards:
    enabled: false

  metrics:
    podMonitor: false
    dashboards: false

# rabbitmq cluster operator
rabbitmq-cluster-operator:
  enabled: false
  #rabbitmqImage:
  #  tag: 3.11.4-debian-11-r0

  useCertManager: true

  clusterOperator:
    metrics:
      enabled: false
      serviceMonitor:
        enabled: true

  msgTopologyOperator:
    enabled: false
    metrics:
      enabled: false
      serviceMonitor:
        enabled: true

redis-operator:
  enabled: false

  # Webhook for anti-affintity of redis-cluster shard pods
  certmanager:
    enabled: false
  redisOperator:
    webhook: false

    metrics:
      enabled: false
      dashboards: false

  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      cpu: 500m
      memory: 128Mi
  issuer:
    create: false
    kind: ClusterIssuer
    name: kubezero-local-ca-issuer

  certificate:
    name: redis-operator-webhook
    secretName: redis-operator-webhook-cert

  service:
    name: redis-operator-webhook
    namespace: operators

  securityContext:
    capabilities:
      drop:
      - ALL
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    runAsUser: 1000


altinity-clickhouse-operator:
  enabled: false

  configs:
    files:
      config.yaml:
        watch:
          namespaces: [".*"]
        reconcile:
          runtime:
            reconcileCHIsThreadsNumber: 2
            reconcileShardsThreadsNumber: 1
          statefulSet:
            revisionHistoryLimit: 2

  operator:
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        memory: 128Mi

  metrics:
    enabled: false
  serviceMonitor:
    enabled: false
  dashboards:
    enabled: false
    additionalLabels:
      grafana_dashboard: "1"

flink-kubernetes-operator:
  enabled: false

  # Makes no sense for more than one namespace
  jobServiceAccount:
    create: false

  operatorPod:
    resources:
      requests:
        cpu: 10m
        memory: 1024Mi

  metrics:
    port: 9999

  defaultConfiguration:
    flink-conf.yaml: |+
      kubernetes.operator.metrics.reporter.prom.factory.class: org.apache.flink.metrics.prometheus.PrometheusReporterFactory
      kubernetes.operator.metrics.reporter.prom.port: 9999
      kubernetes.operator.flink.client.timeout: 120s
