global:
  networkPolicy:
    enabled: true

gateway:
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 4
    targetCPUUtilizationPercentage: 80

  replicaCount: 1

  terminationGracePeriodSeconds: 120
  minReadySeconds: 10

  # This will not work in 1.28 yet, verify in 1.29 via 
  # istioctl proxy-config bootstrap istio-ingressgateway -n istio-ingress looking for downstream_max_connections
  env:
    ISTIO_META_GLOBAL_DOWNSTREAM_MAX_CONNECTIONS: 50000

  resources:
    requests:
      cpu: 50m
      memory: 96Mi
    limits:
      memory: 512Mi

  service:
    type: NodePort
    externalTrafficPolicy: Local
    # Map port 80/443 to 8080/8443 so we don't need to root

    # ports is extended as follows:
    # noGateway: true -> this port does NOT get mapped to a Gateway port
    # tls: optional gateway port setting
    # gatewayProtocol: Loadbalancer protocol which is NOT the same as Container Procotol !
    # hosts: list of hosts that server port response to (optional, defaults to certnames)

  podAnnotations:
    proxy.istio.io/config: '{ "terminationDrainDuration": "90s" }'

certificates: []
#- name: ingress-cert
#  dnsNames: []

telemetry:
  enabled: false

proxyProtocol: true

hardening:
  rejectUnderscoresHeaders: true
  unescapeSlashes: true
  preserveExternalRequestId: false

httpFilter:
  grpcWeb: false
