global:
  clusterName: pleasechangeme
  highAvailable: false

# -- set to $HOSTNAME
nodeName: kubezero-node
domain: changeme.org

# -- Needs to be set to primary node IP
listenAddress: 0.0.0.0

api:
  endpoint: kube-api.changeme.org:6443
  listenPort: 6443
  etcdServers: "https://etcd:2379"
  extraArgs: {}
  # -- https://s3.${REGION}.amazonaws.com/${CFN[ConfigBucket]}/k8s/$CLUSTERNAME
  serviceAccountIssuer: ""
  # -- s3://${CFN[ConfigBucket]}/k8s/$CLUSTERNAME
  oidcEndpoint: ""
  apiAudiences: "istio-ca"

  awsIamAuth: false

  falco:
    enabled: false

etcd:
  nodeName: etcd
  state: new
  # We need to keep etcd on 3.5 during 1.34
  imageTag: 3.5.26-0

# -- Set to false for openrc, eg. on Gentoo or Alpine
systemd: false
protectKernelDefaults: false

# patches: /tmp/patches
