{{- define "cert-manager-values" }}

localCA:
  enabled: true

cert-manager:
  {{- if not .Values.global.highAvailable }}
  strategy:
    type: Recreate
  {{- end }}

  {{- if eq .Values.global.platform "aws" }}
  {{- include "kubezero-lib.control-plane" . | nindent 2 }}

  webhook:
    {{- include "kubezero-lib.control-plane" . | nindent 4 }}

  cainjector:
    {{- include "kubezero-lib.control-plane" . | nindent 4 }}

  serviceAccount:
    annotations:
      kubezero.com/aws-iam-role-arn: "arn:aws:iam::{{ .Values.global.aws.accountId }}:role/{{ .Values.global.aws.region }}.{{ .Values.global.clusterName }}.cert-manager"
  {{- end }}

  {{- if eq .Values.global.platform "gke" }}
  serviceAccount:
    annotations:
      iam.gke.io/gcp-service-account: "dns01-solver-cert-manager@{{ .Values.global.gcp.projectId }}.iam.gserviceaccount.com"
  {{- end }}

  prometheus:
    enabled: {{ .Values.metrics.enabled }}
    servicemonitor:
      enabled: {{ .Values.metrics.enabled }}
    rules: {{ include "kubezero.prometheus.enabled" . }}
    dashboards: {{ include "kubezero.grafana.enabled" . }}

{{- with index .Values "cert-manager" "clusterIssuer" }}
clusterIssuer:
  {{- . | toYaml | nindent 2 }}
{{- end }}

{{- end }}

{{- define "cert-manager-argo" }}
{{- end }}

{{ include "kubezero-app.app" . }}
