{{- define "_kube-prometheus-stack" }}

kube-state-metrics:
  enabled: true
  {{- if eq .global.platform "aws" }}
  {{- include "kubezero-lib.control-plane" . | nindent 2 }}
  {{- end }}

kubeStateMetrics:
  enabled: true

{{- if eq .global.platform "aws" }}
alertmanager:
  enabled: true
  alertmanagerSpec:
    podMetadata:
      annotations:
        kubezero.com/sns_forwarder_ARN_PREFIX: "arn:aws:sns:{{ .global.aws.region }}:{{ .global.aws.accountId }}:"

  serviceAccount:
    annotations:
      kubezero.com/aws-iam-role-arn: "arn:aws:iam::{{ .global.aws.accountId }}:role/{{ .global.aws.region }}.{{ .global.clusterName }}.alertmanager"

  config:
    receivers:
      - name: 'null'
      - name: alerthub-notifications
        webhook_configs:
          - send_resolved: true
            url: http://localhost:9087/alert/AlertHub
    route:
      receiver: alerthub-notifications
{{- end }}

{{- if ne .global.platform "gke" }}
coreDns:
  enabled: true
kubeApiServer:
  enabled: true
kubeEtcd:
  enabled: true
kubeControllerManager:
  enabled: true
kubeScheduler:
  enabled: true
kubelet:
  enabled: true
prometheusOperator:
  enabled: true
  admissionWebhooks:
    certManager:
      enabled: true
prometheus-node-exporter:
  enabled: true
nodeExporter:
  enabled: true

grafana:
  enabled: true

prometheus:
  enabled: true

  {{- if eq .global.platform "aws" }}
  serviceAccount:
    annotations:
      kubezero.com/aws-iam-role-arn: "arn:aws:iam::{{ .global.aws.accountId }}:role/{{ .global.aws.region }}.{{ .global.clusterName }}.prometheus"

  prometheusSpec:
    externalLabels:
      awsAccount: '{{ .global.aws.accountId }}'
      awsRegion: {{ .global.aws.region }}
      clusterName: {{ .global.clusterName }}
    additionalScrapeConfigs:
      - job_name: 'cri'
        metrics_path: '/v1/metrics'
        ec2_sd_configs:
          - port: 9090
            region: {{ .global.aws.region }}
            filters:
              - name: 'tag-key'
                values: ['zdt:prometheus:cri']
              {{- with .metrics.kubezero.prometheus.prometheusSpec.additionalScrapeConfigsEC2Filters }}
              {{- toYaml . | nindent 14 }}
              {{- end }}
        relabel_configs:
          - source_labels:
            - '__meta_ec2_instance_id'
            target_label: 'instance_id'
          - source_labels:
            - '__meta_ec2_availability_zone'
            target_label: 'availability_zone'
          - source_labels:
            - '__meta_ec2_private_dns_name'
            target_label: 'instance'
          - source_labels:
            - '__meta_ec2_tag_Name'
            target_label: 'instance'
      - job_name: 'nodes'
        ec2_sd_configs:
          - port: 9100
            region: {{ .global.aws.region }}
            filters:
              - name: 'tag-key'
                values: ['zdt:prometheus.node-exporter']
              {{- with .metrics.kubezero.prometheus.prometheusSpec.additionalScrapeConfigsEC2Filters }}
              {{- toYaml . | nindent 14 }}
              {{- end }}
        relabel_configs:
          - source_labels:
            - '__meta_ec2_instance_id'
            target_label: 'instance_id'
          - source_labels:
            - '__meta_ec2_availability_zone'
            target_label: 'availability_zone'
          - source_labels:
            - '__meta_ec2_private_dns_name'
            target_label: 'instance'
          - source_labels:
            - '__meta_ec2_tag_Name'
            target_label: 'instance'
      - job_name: 'docker-registry'
        ec2_sd_configs:
          - port: 9101
            region: {{ .global.aws.region }}
            filters:
              - name: 'tag-key'
                values: ['zdt:prometheus.docker-registry']
              {{- with .metrics.kubezero.prometheus.prometheusSpec.additionalScrapeConfigsEC2Filters }}
              {{- toYaml . | nindent 14 }}
              {{- end }}
        relabel_configs:
          - source_labels:
            - '__meta_ec2_instance_id'
            target_label: 'instance_id'
          - source_labels:
            - '__meta_ec2_availability_zone'
            target_label: 'availability_zone'
          - source_labels:
            - '__meta_ec2_private_dns_name'
            target_label: 'instance'
          - source_labels:
            - '__meta_ec2_tag_Name'
            target_label: 'instance'
      {{- with .metrics.kubezero.prometheus.prometheusSpec.additionalScrapeConfigs }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
  {{- end }}
{{- end }}

{{- end }}


{{- define "metrics-values" }}

{{- with .Values.metrics.istio }}
istio:
{{- toYaml . | nindent 2 }}
{{- end }}

kube-prometheus-stack:
  enabled: true
  {{- toYaml ( merge ( include "_kube-prometheus-stack" .Values | fromYaml ) ( index .Values "metrics" "kube-prometheus-stack" ) ) | nindent 2 }}

prometheus-adapter:
  {{- if ne .Values.global.platform "gke" }}
  enabled: true
  {{- else }}
  enabled: false
  {{- end }}
  {{- with index .Values "metrics" "prometheus-adapter" }}
  {{- toYaml . | nindent 2 }}
  {{- end }}

{{- with index .Values "metrics" "prometheus-pushgateway" }}
prometheus-pushgateway:
  {{- toYaml . | nindent 2 }}
{{- end }}

{{- end }}


{{- define "metrics-argo" }}

  ignoreDifferences:
  - group: admissionregistration.k8s.io
    kind: ValidatingWebhookConfiguration
    jsonPointers:
    - /webhooks/0/failurePolicy
  - group: admissionregistration.k8s.io
    kind: MutatingWebhookConfiguration
    jsonPointers:
    - /webhooks/0/failurePolicy

{{- end }}


{{ include "kubezero-app.app" . }}
