{{- define "operators-values" }}

{{- with index .Values "operators" "eck-operator" }}
eck-operator:
  {{- if eq $.Values.global.platform "aws" }}
  {{- include "kubezero-lib.control-plane" . | nindent 2 }}
  {{- end }}

  {{- toYaml . | nindent 2 }}
{{- end }}

{{- with index .Values "operators" "cloudnative-pg" }}
cloudnative-pg:
  {{- if eq $.Values.global.platform "aws" }}
  {{- include "kubezero-lib.control-plane" . | nindent 2 }}
  {{- end }}

  {{- toYaml . | nindent 2 }}

  {{- with $.Values.metrics }}
  monitoring:
    podMonitorEnabled: {{ .enabled }}
  {{- end }}
{{- end }}

{{- with index .Values "operators" "strimzi-kafka-operator" }}
strimzi-kafka-operator:
  {{- if eq $.Values.global.platform "aws" }}
  {{- include "kubezero-lib.control-plane" . | nindent 2 }}
  {{- end }}

  {{- toYaml . | nindent 2 }}

  metrics:
    podMonitor: {{ index $.Values "metrics" "enabled" }}
    dashboards: {{ index $.Values "metrics" "kube-prometheus-stack" "grafana" "enabled" }}
{{- end }}

{{- with index .Values "operators" "redis-operator" }}
redis-operator:
  {{- if eq $.Values.global.platform "aws" }}
  {{- include "kubezero-lib.control-plane" . | nindent 2 }}
  {{- end }}

  {{- toYaml . | nindent 2 }}

  {{- with $.Values.metrics }}
  redisOperator:
    metrics:
      enabled: {{ .enabled }}
  {{- end }}
{{- end }}

{{- with index .Values "operators" "altinity-clickhouse-operator" }}
altinity-clickhouse-operator:
  {{- if eq $.Values.global.platform "aws" }}
  {{- include "kubezero-lib.control-plane" . | nindent 2 }}
  {{- end }}

  {{- toYaml . | nindent 2 }}

  {{- with $.Values.metrics }}
  metrics:
    enabled: {{ .enabled }}
  serviceMonitor:
    enabled: {{ .enabled }}
# dashboards:
#   enabled: {{ .enabled }}
  {{- end }}
{{- end }}

{{- with index .Values "operators" "flink-kubernetes-operator" }}
flink-kubernetes-operator:
# {{- if eq $.Values.global.platform "aws" }}
# {{- include "kubezero-lib.control-plane" . | nindent 2 }}
# {{- end }}

  {{- toYaml . | nindent 2 }}

{{- end }}

{{- end }}


{{- define "operators-argo" }}

  ignoreDifferences:
  - group: admissionregistration.k8s.io
    kind: MutatingWebhookConfiguration
    jsonPointers:
    - /metadata/generation

{{- end }}

{{ include "kubezero-app.app" . }}
