{{- define "policy-values" }}
kyverno:
  enabled: true

  {{- if eq .Values.global.platform "aws" }}
  global:
    {{- include "kubezero-lib.control-plane" . | nindent 4 }}
  {{- end }}

  {{- if ne .Values.global.platform "gke" }}
  # Enable for all but kyverno namespace, even for kube-system !
  config:
    webhooks:
      namespaceSelector:
        matchExpressions:
        - key: kubernetes.io/metadata.name
          operator: NotIn
          values:
            - ""
  {{- end }}

  grafana:
    enabled: {{ include "kubezero.grafana.enabled" . }}

  admissionController:
    serviceMonitor:
      enabled: {{ .Values.metrics.enabled }}

  cleanupController:
    serviceMonitor:
      enabled: {{ .Values.metrics.enabled }}

  backgroundController:
    serviceMonitor:
      enabled: {{ .Values.metrics.enabled }}

  reportsController:
    serviceMonitor:
      enabled: {{ .Values.metrics.enabled }}

policies:
  enabled: true

  bestPractices:
    enabled: true

  {{- if eq .Values.global.platform "aws" }}
  aws:
    enabled: true
    region: {{ .Values.global.aws.region }}
  {{- end }}

{{- end }}

{{- define "policy-argo" }}
{{- end }}

{{ include "kubezero-app.app" . }}
