apiVersion: v2
name: kubezero-sql
description: KubeZero umbrella chart for SQL databases, Percona XtraDB Cluster
type: application
version: 0.3.3
home: https://kubezero.com
icon: https://cdn.zero-downtime.net/assets/kubezero/logo-small-64.png
keywords:
  - kubezero
  - mysql
  - percona
  #  - postgresql
maintainers:
  - name: Stefan Reimer
    email: stefan@zero-downtime.net
dependencies:
  - name: kubezero-lib
    version: ">= 0.1.6"
    repository: https://cdn.zero-downtime.net/charts/
  - name: pxc-operator
    version: 1.12.1
    repository: https://percona.github.io/percona-helm-charts/
    condition: pxc-operator.enabled
  - name: mariadb-galera
    version: 14.0.10
    repository: https://charts.bitnami.com/bitnami
    condition: mariadb-galera.enabled
kubeVersion: ">= 1.24.0"
