{{- if .Values.opensearch.nodeSets }}
apiVersion: opensearch.opster.io/v1
kind: OpenSearchISMPolicy
metadata:
  name: {{ template "kubezero-lib.fullname" . }}-ism-default-retention
  namespace: {{ .Release.Namespace }}
  labels:
    {{ include "kubezero-lib.labels" . | nindent 4 }}
spec:
   opensearchCluster:
     name: {{ template "kubezero-lib.fullname" . }}
   description: Default KubeZero retention policy
   defaultState: hot
   states:
     - name: hot
       actions:
         - replicaCount:
             numberOfReplicas: 1
       transitions:
         - stateName: warm
           conditions:
             minIndexAge: "7d"
     - name: warm
       actions:
         - replicaCount:
             numberOfReplicas: 0
       transitions:
         - stateName: delete
           conditions:
             minIndexAge: "32d"
     - name: delete
       actions:
         - delete: {}
   ismTemplate:
     indexPatterns:
       - "logstash-*"
       - "jaeger-*"
{{- end }}
