kyverno:
  enabled: false

  # Disable hooks being triggered during each sync
  policyReportsCleanup:
    enabled: false
  webhooksCleanup:
    enabled: false
    autoDeleteWebhooks:
      enabled: true

  crds:
    migration:
      enabled: false

# templating:
#   enabled: true

  config:
    preserve: false
    webhookAnnotations:
      admissions.enforcer/disabled: null
      argocd.argoproj.io/installation-id: KubeZero-ArgoCD
      # Unfortunately Argo needs different values for Mutating and Validating hooks so disabled for now
      # argocd.argoproj.io/tracking-id: policy:/ServiceAccount:kyverno/kyverno-admission-controller
      #

    # include kube-system namespace,
    # webhooks.namespaceSelector required to be nulled on supported platforms !
    resourceFiltersExcludeNamespaces: ["kube-system"]

    # ensure that cilium our CNI is never blocked
    resourceFiltersInclude:
      - '["Deployment", "kube-system", "cilium-operator"]'
      - '["Deployment/?*", "kube-system", "cilium-operator"]'
      - '["DeamonSet", "kube-system", "cilium"]'
      - '["DeamonSet/?*", "kube-system", "cilium"]'
      - '["Pod", "kube-system", "cilium-*"]'
      - '["Pod/?*", "kube-system", "cilium-*"]'

  features:
    logging:
      format: json

  # Enabled via kubezero metrics.kube-prometheus-stack.grafana.enabled flag
  grafana:
    enabled: false

  admissionController:
    revisionHistoryLimit: 2
    container:
      extraArgs:
        leaderElectionRetryPeriod: 30s

  cleanupController:
    revisionHistoryLimit: 2
    extraArgs:
      leaderElectionRetryPeriod: 30s
    rbac:
      clusterRole:
        extraResources:
          # Allow to clean up postgreSQL backups
          - apiGroups:
              - postgresql.cnpg.io
            resources:
              - backups
            verbs:
              - delete
              - list
              - watch

  backgroundController:
    revisionHistoryLimit: 2
    extraArgs:
      leaderElectionRetryPeriod: 30s

  reportsController:
    revisionHistoryLimit: 2
    enabled: false
