redis:
  enabled: false

  redisStandalone:
    tag: v8.2.3

    service:
      additional:
        enabled: false
      headless:
        enabled: false

    maxMemoryPercentOfLimit: 90

  serviceMonitor:
    enabled: false
  redisExporter:
    enabled: false

  # Single node assume pure cache
  storageSpec: null


redis-replication:
  enabled: false

  redisReplication:
    tag: v8.2.3

    service:
      additional:
        enabled: false

    maxMemoryPercentOfLimit: 90

  storageSpec:
    keepAfterDelete: true
#   volumeClaimTemplate:
#     spec:
#       resources:
#         requests:
#           storage: 2Gi

  # Add pdb by default
  pdb:
    enabled: true

  serviceMonitor:
    enabled: false
  redisExporter:
    enabled: false

  redisVault:
    enabled: false

    image:
      repository: public.ecr.aws/zero-downtime/redis-vault
      tag: v0.1.8

    resources:
      requests:
        cpu: 10m
        memory: 16Mi

    # Custom settings for redis-vault
    env: []
    # - name: RUST_LOG
    #   value: "debug"


redis-sentinel:
  enabled: false

  redisSentinel:
    tag: v8.2.3

    resources:
      requests:
        cpu: 10m
        memory: 16Mi

    service:
      additional:
        enabled: false

  redisSentinelConfig:
    failoverTimeout: "60000"
    downAfterMilliseconds:  "10000"
    resolveHostnames : "yes"
    announceHostnames : "yes"

  # Add pdb by default
  pdb:
    enabled: true

  serviceMonitor:
    enabled: false
  redisExporter:
    enabled: false

redis-cluster:
  enabled: false

  redisCluster:
  # Not yet until v8 support gets merged
  # clusterVersion: v8
  # tag: v8.2.3
    enableMasterSlaveAntiAffinity: true
    maxMemoryPercentOfLimit: 90

    leader:
      # Add pdb by default
      pdb:
        enabled: true

    follower:
      # Add pdb by default
      pdb:
        enabled: true

  serviceMonitor:
    enabled: false
  redisExporter:
    enabled: false

  # Ensure restarting nodes keep their identity and re-join
  # without the need for a dedicated node-conf volume, we always have /data vol
  storageSpec:
    keepAfterDelete: true
    nodeConfVolume: false

  externalConfig:
    enabled: true
    data: |
      cluster-config-file /data/nodes.conf

istio:
  enabled: false
  url: external-servicename
  gateway: istio-ingress/private-ingressgateway

snapshotgroups: {}
# - name: redis-snaps
#   claimName: redis-data-redis-cluster-master-0
#   schedule:
#   - every: hour
#     keep: 24
#   - every: day
#     keep: 7
