{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.versionLine" . }}

{{ template "chart.sourceLinkLine" . }}

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}


# Dashboards

## Etcs
- https://grafana.com/grafana/dashboards/3070

## ElasticSearch
- https://grafana.com/grafana/dashboards/266

