apiVersion: v2
name: kubezero-mq
description: KubeZero umbrella chart for MQ systems like NATS, RabbitMQ
type: application
version: 0.3.10
home: https://kubezero.com
icon: https://cdn.zero-downtime.net/assets/kubezero/logo-small-64.png
keywords:
  - kubezero
  - rabbitmq
  - rabbitmq-cluster-operator
  - nats
maintainers:
  - name: Stefan Reimer
    email: stefan@zero-downtime.net
dependencies:
  - name: kubezero-lib
    version: ">= 0.1.6"
    repository: https://cdn.zero-downtime.net/charts/
  - name: nats
    version: 1.2.2
    repository: https://nats-io.github.io/k8s/helm/charts/
    condition: nats.enabled
  - name: rabbitmq
    version: 14.6.6
    repository: https://charts.bitnami.com/bitnami
    condition: rabbitmq.enabled
  - name: rabbitmq-cluster-operator
    version: 4.3.19
    repository: https://charts.bitnami.com/bitnami
    condition: rabbitmq-cluster-operator.enabled
kubeVersion: ">= 1.26.0"
