# nats
nats:
  enabled: false

  config:
    cluster:
      routeURLs:
        useFQDN: true

    jetstream:
      enabled: true

  podTemplate:
    topologySpreadConstraints:
      kubernetes.io/hostname:
        maxSkew: 1
        whenUnsatisfiable: DoNotSchedule

  natsBox:
    enabled: false

  promExporter:
    enabled: false
    podMonitor:
      enabled: false

  mqtt:
    enabled: false

  istio:
    enabled: false
    # url: "mq.example.com"
    gateway: istio-ingress/private-ingressgateway

kafka:
  enabled: false

  cluster:
    name: example
    version: 4.1.1

  storage:
    size: 1Gi

akhq:
  enabled: false

  revisionHistoryLimit: 2

  configuration:
    akhq:
      connections:
        local:
          properties:
            bootstrap.servers: "example-kafka-plain-bootstrap:9092"

  istio:
    enabled: false
    url: example-akhq.local
    gateway: istio-ingress/private-ingressgateway

# rabbitmq
rabbitmq:
  enabled: false

  # rabbitmq.hosts -- hostnames of rabbitmq services, used for Istio and TLS
  hosts: []

  # Disable trying to change ulimits, not permitted anyways
  ulimitNofiles: ''

  istio:
    enabled: false
    gateway: istio-ingress/private-ingressgateway
    amqp: false
    mqtt: false
    mqtts: false

  #extraConfiguration: |-
  #  mqtt.durable_queue_type = quorum

  auth:
    existingPasswordSecret: rabbitmq
    existingErlangSecret: rabbitmq
    tls:
      enabled: false
      failIfNoPeerCert: false
      existingSecret: rabbitmq-server-certificate
      existingSecretFullChain: true

  clustering:
    enabled: false
    forceBoot: false

  resources:
    requests:
      memory: 512Mi
      cpu: 100m

  replicaCount: 1

  persistence:
    size: 2Gi

  podAntiAffinityPreset: ""
  topologySpreadConstraints: |-
    - maxSkew: 1
      topologyKey: topology.kubernetes.io/zone
      whenUnsatisfiable: DoNotSchedule
      labelSelector:
        matchLabels: {{- include "common.labels.matchLabels" . | nindent 6 }}
    - maxSkew: 1
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: DoNotSchedule
      labelSelector:
        matchLabels: {{- include "common.labels.matchLabels" . | nindent 6 }}

  pdb:
    create: false

  metrics:
    enabled: false
    serviceMonitor:
      enabled: true
